# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
*.pot
*.pyc
*.pyo
*.pyd

# Virtualenv
env/
venv/
ENV/
.VENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Node (אם יש חלק פרונטנד)
node_modules/
build/
dist/

# dotenv
.env
